<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<bean id="helpDAO"
		class="com.hr.help.dao.helpDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="helpBo" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.hr.help.bo.HelpBoImpl">
				<property name="helpDAO">
					<ref local="helpDAO" />
				</property>
			</bean>
		</property>
	</bean>	
</beans>
