/* ---- WinXP 文件夹常见任务样式 ---- */
.WINXP {
	margin: 0px;/* 边距 */
	width: 175px;/* 宽度 */;
	background-color: #ffffff;/* 背景 */;	
	white-space: nowrap;
}
.WINXP * {
	margin: 0px;
	padding: 0px;
}
.WINXP ul {
	list-style-type: none;
}
.WINXP div {
	padding-left: 20px;/* 缩进 */	
}
.WINXP img {
	vertical-align: middle;
}
.WINXP a {
	margin-left: 4px;
	cursor:pointer;
	font-size: 12px;/* 字号 */;
	line-height: 10px;/* 行距 */
	color: #0000cc;
	text-decoration: none;
}
.WINXP a:hover {
	color: #428eff;
	text-decoration: underline;
}
.WINXP a.ACTIVE {
	color: #ff0000;
}
/* ---- MT_L0 ---- */
.WINXP .MT_L0_BODY {
	padding-left: 0px;
}
.WINXP .MT_L0_ITEM {
	padding: 5px 0px 5px 8px;
	height: 14px;
	font-size: 12px;
	font-weight: normal;
	background-image: url(../../%E7%9B%91%E6%8E%A7%E9%A2%84%E8%AD%A6/images/WINXP/_MT_L0.gif);
	background-repeat: repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bfd7eb;
}
.WINXP .MT_L0_ITEM img {
	float: left;
}
.WINXP .MT_L0_ITEM a {
	color: #375491;
}
.WINXP .MT_L0_ITEM a:hover {
	color: #428eff;
}
/* ---- MT_L1 ---- */
.WINXP .MT_L1 {
	padding-left: 0px;
}
.WINXP .MT_L1_BODY {
	padding: 8px 0px 8px 12px;
	background-color: #ffffff;
	border: 1px solid #e5e4e4;
}
/* ---- WinXP 文件夹常见任务样式 ---- */

