a:link{
color:#9c9d9d;
text-decoration:none;
float:left;
width:160px;
padding:3px 5px 0px 5px;
}
a:visited{
color:#9c9d9d;
text-decoration:none;
float:left;
padding:3px 5px 0px 5px;
width:160px;
}
a:hover{
color:white;
float:left;
padding:3px 3px 0px 20px;
width:140px;
text-decoration:none;
background-color:#d5d7d7;
}

a:active{
color:white;
float:left;
padding:3px 3px 0px 20px;
width:140px;
text-decoration:none;
background-color:#afb3b3;
}